<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IngresarAlumno</servlet-name>
        <servlet-class>controlador.IngresarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarAsignatura</servlet-name>
        <servlet-class>controlador.IngresarAsignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarAlumnos</servlet-name>
        <servlet-class>controlador.MostrarAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAlumno</servlet-name>
        <servlet-class>controlador.ModificarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAlumno</servlet-name>
        <servlet-class>controlador.EliminarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresarAlumno</servlet-name>
        <url-pattern>/insertaralumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarAsignatura</servlet-name>
        <url-pattern>/ingresarasignatura.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarAlumnos</servlet-name>
        <url-pattern>/mostraralumnos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAlumno</servlet-name>
        <url-pattern>/modificaralumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAlumno</servlet-name>
        <url-pattern>/eliminaralumno.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
